{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
      <style>
        body{
          background-image: url("{% static 'images/back.jpg'%}");
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
        }
        {% block style %}{% endblock %}
      </style>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-deafult navbar-sticky-top navbar-expand-lg navbar-warning bg-dark p-2  ">
      <a class="navbar-brand" href="{% url 'index' %}">Connect</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gallery</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Posts
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated %}
              <a class="dropdown-item" href="{% url 'create_post' %}">Create a Post</a>
              <a class="dropdown-item" href="{% url 'user_post'%}">Your Posts</a>
              {% endif %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">About Us</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>&nbsp;
        </form>
        {% if not user.is_authenticated %}
          <a class="btn btn-primary" data-toggle="modal" data-target="#login">Login</a>&nbsp;
          <a class="btn btn-success" data-toggle="modal" data-target="#signup">Signup</a>
        {% else %}
              <a style=" margin-right: 10px" class="btn btn-success" href="/courses">Best courses</a>
              <a style=" margin-right: 10px" class="btn btn-success" href="/profile">Profile</a>
            <a style=" margin-right: 10px" class="btn btn-success" href="/chat">chat</a>
            <a class="btn btn-warning" href="{% url 'logout' %}">Logout</a>
        {% endif %}
      </div>
</nav>
       {% block body %}
       {% endblock %}

       <!-- Login Modal -->
       <div class="modal fade" id="login" role="dialog">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header bg-success">
                     <h3>Login</h3>
                     <div class="justify-content-end">
                         <a class="fa fa-window-close" data-dismiss="modal"></a>
                     </div>
                 </div>
                 <form class="form-group" action="{% url 'login' %}" method="post">
                     <div class="modal-body">
                         {% csrf_token %}
                         <label>Username</label>
                         <input type="text" class="form-control" placeholder="Username" name="username" value="kishan333">
                         <label>Password</label>
                         <input type="password" class="form-control" placeholder="Password" name="password" value="kishan">
                     </div>
                     <div class="modal-footer">
                     <button type="submit" class="btn btn-success">Login</button>
                     <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
                     </div>
                 </form>
             </div>
         </div>
     </div>

     <!-- SignUp Modal-->
  <div class="modal fade" id="signup" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h3>Sign Up</h3>
                <div class="justify-content-end">
                    <a class="fa fa-window-close" data-dismiss="modal"></a>
                </div>
            </div>
            <form class="form-group" method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    <label>Username:</label>
                    <input type="text" class="form-control" placeholder="Username" name="username">
                    <label>First Name:</label>
                    <input type="text" class="form-control" placeholder="First Name" name="fname">
                    <label>Last Name:</label>
                    <input type="text" class="form-control" placeholder="Last Name" name="lname">
                    <label>Email:</label>
                    <input type="email" class="form-control" placeholder="Email" name="email" required>
                    <label>Enrollment Number:</label>
                    <input type="text" class="form-control" placeholder="Enroll no eg - 0103CS161888" name="enroll_no" required>
                    <label>Bio:</label>
                    <textarea type="text" class="form-control" placeholder="Write something about yourself" name="bio"></textarea>
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Confirm Password" name="password1" required>
                    <p class="text-muted">Re-enter your password</p>
                    <label>Profile Pic:</label>
                    <input type="file" class="form-control" name="photo">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Sing Up</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
            </div>
          </form>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
